{% extends "base/base.html" %}
{% load static %}

{% block title %}
  Invoice
{% endblock title %}

{% block heading %}
  Invoice
{% endblock heading %}

{% block sub_heading %}
  Example App
{% endblock sub_heading %}

{% block menu %}
  <li>
    <a href="{% url "crm.ticket.home" %}">CRM</a>
  </li>
  <li>
    <a href="{% url "invoice.list" %}">Invoices</a>
  </li>
  <li>
    <a href="{% url "invoice.time" %}">Time records</a>
  </li>
  {{ block.super }}
{% endblock menu %}

{% block footer %}
{% endblock footer %}
