<table class="pure-table pure-table-bordered small-margin-top" width="100%">
  <thead>
    <tr valign="top">
      <th>Date</th>
      <th>Invoice Number</th>
      <th>Contact</th>
    </tr>
  </thead>
  <tbody>
    {% for o in object_list %}
      <tr valign="top">
        <td>
          {{ o.invoice.invoice_date|date:'d/m/Y' }}
        </td>
        <td>
          <a href="{% url 'invoice.detail' o.invoice.pk %}">
            {{ o.invoice.invoice_number }}
          </a>
        </td>
        <td>
          <a href="{% url 'contact.detail' o.invoice.contact.pk %}">
            {{ o.invoice.contact }}
          </a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
