{% load humanize %}

<tr valign="top">
  <td>
    Number
  </td>
  <td>
    {{ batch.batch_number }}
  </td>
</tr>
<tr valign="top">
  <td>
    Created
  </td>
  <td>
    {{ batch.batch_date|date:'d/m/Y'}}
  </td>
</tr>
<tr valign="top">
  <td>
    Currency
  </td>
  <td>
    {{ batch.currency.slug }}
  </td>
</tr>
<tr valign="top">
  <td>
    Payment Processor
  </td>
  <td>
    {{ batch.payment_processor.description }}
  </td>
</tr>
{% if batch_net %}
  <tr>
    <td>
      Net
    </td>
    <td>
      {{ batch_net|intcomma }}
    </td>
  </tr>
{% endif %}
{% if batch_vat %}
  <tr>
    <td>
      VAT
    </td>
    <td>
      {{ batch_vat|intcomma }}
    </td>
  </tr>
{% endif %}
{% if batch_gross %}
  <tr>
    <td>
      Gross
    </td>
    <td>
      {{ batch_gross|intcomma }}
    </td>
  </tr>
{% endif %}
