{% if user.is_staff %}
  <li class="pure-menu-item">
    <a href="{% url 'invoice.time.contact.ticket.time' contact.pk %}" class="pure-menu-link">
      <i class="fa fa-clock-o"></i>
      Analysis
    </a>
  </li>
{% endif %}
<li class="pure-menu-item">
  <a href="{% url 'invoice.create.time' contact.pk %}" class="pure-menu-link">
    <i class="fa fa-gbp"></i>
    Create draft invoice
  </a>
</li>
