<div class="pure-u-1 pure-u-md-1-4">
  <div class="pure-g">
    <div class="pure-u-1">
      <h4>Invoice</h4>
    </div>
  </div>
  <div class="r-box">
    <a href="{% url 'invoice.contact.report' contact.pk 'invoice-time-analysis-contact' %}?next={{ request.path }}" class="pure-menu-link">
      <i class="fa fa-fw fa-clock-o"></i>
      Time Analysis
    </a>
  </div>
</div>
