<tr valign="top">
  <thead>
    <td colspan="2">
      <strong>Accounts</strong>
    </td>
  </thead>
</tr>
<tr>
  <td>Hourly Rate</td>
  <td>
    {% if user.is_staff and not read_only %}
      {% if invoice_contact %}
        <a href="{% url 'invoice.contact.update' invoice_contact.pk %}">
      {% else %}
        <a href="{% url 'invoice.contact.create' contact.pk %}">
      {% endif %}
      <i class="fa fa-edit"></i>
      {% if invoice_contact.hourly_rate %}
        {{ invoice_contact.hourly_rate }}
      {% endif %}
      </a>
    {% else %}
      {% if invoice_contact %}
        {{ invoice_contact.hourly_rate }}
      {% endif %}
    {% endif %}
  </td>
</tr>
<tr>
  <td>On Account</td>
  <td>
    {% if invoice_contact.on_account %}
      <i class="fa fa-check"></i>
    {% else %}
      <i class="fa fa-times"></i>
    {% endif %}
  </td>
</tr>
