<thead>
  <tr>
    <td colspan="5">
      Issues
      <i class="fa fa-info-circle"></i>
    </td>
  </tr>
  <tr valign="top">
    <th>ID</th>
    <th>Status</th>
    <th>Date</th>
    <th>Invoice / Credit</th>
    <th>Description</th>
  </tr>
</thead>
<tbody>
  {% for issue in invoiceissue_list %}
    <tr valign="top">
      <td>
        {{ issue.pk }}
      </td>
      <td>
        <a href="{% url 'invoice.issue.update' issue.pk %}?next={{ request.get_full_path|urlencode }}">
          {% if issue.confirmed %}
            Confirmed
            <i class="fa fa-check"></i>
          {% else %}
            <i class="fa fa-edit"></i>
            Resolve
          {% endif %}
        </a>
      </td>
      <td>
        {{ issue.invoice.invoice_date |date:'d/m/Y' }}
      </td>
      <td>
        <a href="{% url 'invoice.detail' issue.invoice.pk %}">
          {{ issue.invoice.invoice_number }}
        </a>
      </td>
      <td>
        {% include 'invoice/_invoice_issue_description.html' %}
      </td>
    </tr>
  {% endfor %}
</tbody>
