{% if invoice.invoiceline_set.all %}
  <table width="100%" class="pure-table pure-table-bordered small-margin-top">
    <thead>
      <tr>
        <th></th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Units</th>
        <th>Price</th>
        <th>Net</th>
        <th>VAT</th>
        <th></th>
        <th>Gross</th>
      </tr>
    </thead>
    <tbody>
      {% for line in invoice.invoiceline_set.all %}
        <tr valign="top">
          <td>
            {% if line.user_can_edit %}
              <a href="{% url 'invoice.line.update' line.pk %}">
                <i class="fa fa-edit"></i>
                {{ line.line_number }}
              </a>
            {% else %}
              {{ line.line_number }}
            {% endif %}
          </td>
          <td>
            {% if line.description %}
              {{ line.description|linebreaksbr }}
            {% elif line.has_time_record %}
              {{ line.timerecord.title}}
              <small>
                <a href="{% url 'ticket.detail' line.timerecord.ticket.pk %}">
                  #{{ line.timerecord.ticket.pk}}
                  {{ line.timerecord.ticket.title }}
                </a>
              </small>
            {% endif %}
            {% if line.product %}
              {% if line.has_time_record or line.description %}
                <small>
                  ({{ line.product.name }})
                </small>
              {% else %}
                {{ line.product.name }}
              {% endif %}
            {% endif %}
          </td>
          <td>{{ line.quantity }}</td>
          <td>{{ line.units }}</td>
          <td>{{ line.price }}</td>
          <td>{{ line.net }}</td>
          <td>{{ line.vat }}</td>
          <td>{{ line.vat_code.slug }}</td>
          <td>{{ line.gross }}</td>
        </tr>
      {% endfor %}
      <tr valign="top">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><strong>Total</strong></td>
        <td><strong>{{ invoice.net }}</strong></td>
        <td><strong>{{ invoice.vat }}</strong></td>
        <td></td>
        <td><strong>{{ invoice.gross }}</strong></td>
      </tr>
      <tr valign="top">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="4">
          <i class="fa {{ invoice.currency.icon }}"></i>
          {{ invoice.currency.description }}
        </td>
      </tr>
    </tbody>
  </table>
{% endif %}
