{% load humanize %}
<table width="100%" class="pure-table pure-table-bordered small-margin-top">
  <thead>
    <tr>
      <th>Number</th>
      <th>Date</th>
      {% if show_contact %}
        <th>Contact</th>
      {% endif %}
      <th>Currency</th>
      <th>Net</th>
      <th>Gross</th>
      {% if show_invoices_for_credit %}
        <th>Invoices</th>
      {% endif %}
      {% if show_download %}
        <th>Download</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% if net_total or gross_total %}
      <tr class="errorlist">
        {% if show_download %}
          <td colspan="4">
        {% else %}
          <td colspan="3">
        {% endif %}
        Totals for
        {% if is_paginated %}
          {{ page_obj.paginator.num_pages }} pages:
        {% else %}
          this page:
        {% endif %}
      </td>
      <td>
        {{ net_total|intcomma }}
      </td>
      <td>
        {{ gross_total|intcomma }}
      </td>
      <td></td>
      </tr>
    {% endif %}
    {% for invoice in invoice_list %}
      <tr valign="top">
        <td>
          <a href="{% url 'invoice.detail' invoice.pk %}">
            {{ invoice.invoice_number }}
          </a>
        </td>
        <td>
          {{ invoice.invoice_date|date:"d/m/Y" }}
        </td>
        {% if show_contact %}
          <td>
            <a href="{% url 'contact.detail' invoice.contact.pk %}">
              {{ invoice.contact.full_name }}
            </a>
          </td>
        {% endif %}
        <td>{{ invoice.currency.slug }}</td>
        <td>{{ invoice.net }}</td>
        <td>{{ invoice.gross }}</td>
        {% if show_invoices_for_credit %}
          <td>
            {% for x in invoice.invoice_for_credit %}
              {% if not forloop.first %}
                <br>
              {% endif %}
              <a href="{% url 'invoice.detail' x.pk %}">
                {{ x.invoice_number }}
              </a>
            {% endfor %}
          </td>
        {% endif %}
        {% if show_download %}
          <td>
            {% if invoice.pdf %}
              <a href="{% url 'invoice.download' invoice.pk %}">
                {{ invoice.invoice_number }}.pdf
              </a>
            {% endif %}
            {% if invoice.is_draft %}
              Draft
            {% endif %}
          </td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
