<tr valign="top">
  <td>Contact</td>
  <td>
    <a href="{% url 'contact.detail' invoice.contact.pk %}">
      <strong>{{ invoice.contact.full_name }}</strong>
    </a>
    <br>
    {{ invoice.contact.address|linebreaksbr }}
  </td>
</tr>
