{% for description in issue.lines %}
  {% if not forloop.first %}
    <br>
  {% endif %}
  {% if forloop.first and forloop.last %}
    {{ description }}
  {% else %}
    {{ forloop.counter }}. {{ description }}
  {% endif %}
{% endfor %}
{% if issue.comment %}
  <br>
  <strong>
    Resolution:
  </strong>
  {{ issue.comment|truncatewords_html:10 }}
{% endif %}
