<tr>
  <td>Number</td>
  <td>
    {% if invoice.is_draft %}
      <a href="{% url 'invoice.update' invoice.pk %}">
        <i class="fa fa-edit"></i>
        {{ invoice.invoice_number }}
        {% if invoice.is_credit %}
          <small>
            <span class="errorlist">(Credit Note)</span>
          </small>
        {% endif %}
      </a>
    {% else %}
      {{ invoice.invoice_number }}
      <small>
        (Created by {{ invoice.user.username }})
      </small>
    {% endif %}
  </td>
</tr>
<tr>
  <td>Date</td>
  <td>
    {{ invoice.invoice_date|date:"d/m/Y" }}
  </td>
</tr>
<tr>
  <td>Currency</td>
  <td>
    <i class="fa {{ invoice.currency.icon }} fa-fw"></i>
    {{ invoice.currency.description }}
    <small>
      ({{invoice.currency.slug}})
    </small>
  </td>
</tr>
{% if invoice.exchange_rate %}
  <tr>
    <td>
      Exchange Rate
    </td>
    <td>
      {{ invoice.exchange_rate }}
    </td>
  </tr>
{% endif %}
{% if invoice.source %}
  <tr>
    <td>
      Source
    </td>
    <td>
      {{ invoice.source }}
    </td>
  </tr>
{% endif %}
{% if invoice.upfront_payment %}
  <tr>
    <td>
      Paid in Full
    </td>
    <td>
      <i class="fa fa-check fa-fw"></i>
      {% if invoice.upfront_payment_processor %}
        {{ invoice.upfront_payment_processor.description }}
      {% endif %}
    </td>
  </tr>
{% endif %}
{% for x in invoice_credits %}
  <tr>
    <td>
      {% if forloop.first %}
        {% if object.is_credit %}
          Invoices
        {% else %}
          Credit Notes
        {% endif %}
      {% endif %}
    </td>
    <td>
      {% if object.is_credit %}
        <a href="{% url 'invoice.detail' x.invoice.pk %}">
          {{ x.invoice.invoice_number }}
        </a>
      {% else %}
        <a href="{% url 'invoice.detail' x.credit_note.pk %}">
          {{ x.credit_note.invoice_number }}
        </a>
      {% endif %}
    </td>
  </tr>
{% endfor %}
{% if batch_invoice %}
  <tr>
    <td>
      Batch
    </td>
    <td>
      <a href="{% url 'invoice.batch.invoice.list' batch_invoice.batch.pk %}">
        {{ batch_invoice.batch.batch_number }}
      </a>
    </td>
  </tr>
{% endif %}
