<div class="pure-u-1 pure-u-md-1-4">
  <div class="pure-g">
    <div class="pure-u-1">
      <h4>Invoice</h4>
    </div>
  </div>
  <div class="r-box">
    <a href="{% url 'invoice.quick.time.record.list' %}" class="pure-menu-link">
      <i class="fa fa-clock-o"></i>
      Quick Time Recording
    </a>
  </div>
  <div class="r-box">
    <a href="{% url 'invoice.user.update' %}" class="pure-menu-link">
      <i class="fa fa-envelope-o"></i>
      User Settings
    </a>
  </div>
  {% if user.is_superuser %}
    <div class="r-box">
      <a href="{% url 'invoice.settings.update' %}" class="pure-menu-link">
        <i class="fa fa-gbp"></i>
        Invoice Settings
      </a>
    </div>
  {% endif %}
</div>
