{% if not timerecord.end_time %}
  <i class="fa fa-clock-o"></i>
{% endif %}
{% if user.is_staff and timerecord.user_can_edit %}
  <a href="{% url 'invoice.time.update' timerecord.pk %}?next={{ request.path }}">
    <i class="fa fa-edit"></i>
    {{ timerecord.title }}
  </a>
{% else %}
  {{ timerecord.title }}
{% endif %}
{% if timerecord.description %}
  <div>
    {% if timerecord.description|wordcount > 20 %}
      {{ timerecord.description|truncatewords:10 }}
      <a class="time-summ">Show all</a>
      <style>.time-desc { display: none; }</style>
    {% endif %}
    <div class="time-desc">
      {{ timerecord.description|urlize|linebreaksbr }}
    </div>
  </div>
{% endif %}
{% if not 'user' in path %}
  <small>{{ timerecord.user.username }}</small>
{% endif %}
