{% extends 'dash/base.html' %}
{% load static %}

{% block title %}
  Invoice Batches
{% endblock title %}

{% block sub_heading %}
  Invoice Batches
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'project.dash' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr valign="top">
            <th>Batch number</th>
            <th>Date</th>
            <th>Currency</th>
            <th>Payment Processor</th>
          </tr>
        </thead>
        <tbody>
          {% for o in object_list %}
            <tr valign="top">
              <td>
                <a href="{% url 'invoice.batch.invoice.list' o.pk %}">
                  {{ o.pk }}
                </a>
              </td>
              <td>
                {% comment %} <a href="{% url 'invoice.batch.invoice.list' o.pk %}"> {% endcomment %}
                {{ o.batch_date|date:'d/m/Y'}}
                {% comment %} </a> {% endcomment %}
              </td>
              <td>
                {{ o.currency.slug }}
                {% if o.exchange_rate %}
                  <small>
                    ({{ o.exchange_rate }})
                  </small>
                {% endif %}
              </td>
              <td>
                {{ o.payment_processor.description }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
