{% extends 'dash/base.html' %}

{% block sub_title %}
  Contact Report
{% endblock sub_title %}

{% block sub_heading %}
  Contact Report
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% if next %}
            <li class="pure-menu-item">
              <a href="{{ next }}" class="pure-menu-link">
                <i class="fa fa-reply"></i>
              </a>
            </li>
          {% endif %}
          {% if report_specification %}
            <li class="pure-menu-item">
              <a href="{% url 'report.schedule.csv.latest' report_specification.pk %}{% if next %}?next={{ next }}{% endif %}" class="pure-menu-link">
                <i class="fa fa-file-excel-o"></i>
                Latest Report
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-xl-2-3">
      <table width="100%" class="pure-table pure-table-bordered">
        <tbody>
          <tr>
            <td>
              {{ contact.full_name }}
            </td>
          </tr>
          <tr>
            <td>
              {% if report_specification %}
                {{ report_specification.title }}
              {% else %}
                <i class="fa fa-warning"></i>
                Sorry, we cannot find this report
                <small>
                  ({{ report_slug }})
                </small>
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
      {% if report_specification %}
        {% include '_form.html' with submit='Run the Report' %}
      {% endif %}
    </div>
  </div>
{% endblock content %}
