{% extends "invoice/base.html" %}

{% block sub_title %}
  Invoices for {{ contact.full_name }}
{% endblock sub_title %}

{% block sub_heading %}
  Invoices for {{ contact.full_name }}
{% endblock sub_heading %}

{% block content %}
  {% if user.is_staff %}
    <div class="pure-g">
      <div class="pure-u-1">
        <div class="pure-menu pure-menu-horizontal">
          <ul class="pure-menu-list">
            <li class="pure-menu-item">
              <a href="{% url 'invoice.create.draft' contact.pk %}" class="pure-menu-link">
                <i class="fa fa-gbp"></i>
                Create draft invoice <strong>(without time records)</strong>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  {% endif %}
  <div class="pure-g">
    <div class="pure-u-1">
      {% if invoice_list %}
        <table width="100%" class="pure-table pure-table-bordered small-margin-top">
          <thead>
            <tr>
              <th>Number</th>
              <th>Date</th>
              <th>Net</th>
              <th>Gross</th>
              <th>Download</th>
            </tr>
          </thead>
          <tbody>
            {% for invoice in invoice_list %}
              <tr valign="top">
                <td>
                  <a href="{% url 'invoice.detail' invoice.pk %}">
                    {% if invoice.is_draft %}
                      <i class="fa fa-edit"></i>
                    {% endif %}
                    {{ invoice.invoice_number }}
                  </a>
                </td>
                <td>{{ invoice.invoice_date|date:"d/m/Y" }}</td>
                <td>{{ invoice.net }}</td>
                <td>{{ invoice.gross }}</td>
                <td>
                  {% if invoice.is_draft %}
                    DRAFT
                  {% else %}
                    <a href="{% url 'invoice.download' invoice.pk %}">
                      {{ invoice.invoice_number }}.pdf
                    </a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        Sorry, there are no invoices on the system for {{ contact.full_name }}
      {% endif %}
    </div>
  </div>
{% endblock content %}
