{% extends "invoice/base.html" %}

{% block sub_title %}
  {{ title }} for {{ contact.full_name }}
{% endblock sub_title %}

{% block sub_heading %}
  {{ title }} for {{ contact.full_name }}
{% endblock sub_heading %}

{% block content %}
  {% if user.is_staff %}
    <div class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
        {% if unbilled %}
          <li class="pure-menu-item">
            <a href="{% url 'invoice.time.contact.list' contact.pk %}" class="pure-menu-link">
              <i class="fa fa-clock-o"></i>
              All Time Records
            </a>
          </li>
        {% else %}
          <li class="pure-menu-item">
            <a href="{% url 'invoice.time.contact.outstanding.list' contact.pk %}" class="pure-menu-link">
              <i class="fa fa-clock-o"></i>
              Unbilled Time
            </a>
          </li>
        {% endif %}
        {% include 'invoice/_contact_timerecord_menu.html' %}
        {% if unbilled %}
          <li class="pure-menu-item">
            <a href="{% url 'invoice.time.outstanding.list' %}" class="pure-menu-link">
              <i class="fa fa-gbp"></i>
              Contacts with Unbilled Time
            </a>
          </li>
        {% endif %}
        {% include 'base/_paginate.html' %}
      </ul>
    </div>
  {% endif %}
  <div class="pure-g">
    <div class="pure-u-1">
      {% if not timerecord_list %}
        No {{ title|lower }} for
        <a href="{% url 'contact.detail' contact.pk %}?next={{ request.path }}">
          {{ contact.full_name }}
        </a>
      {% else %}
        <table class="pure-table pure-table-bordered" width="100%">
          <thead>
            <tr>
              <th>Ticket</th>
              <th></th>
              <th>Time</th>
              <th>Start</th>
              <th></th>
              <th>Elapsed</th>
              <th>Invoice</th>
            </tr>
          </thead>
          <tbody>
            {% for timerecord in timerecord_list %}
              <tr valign="top">
                <td>
                  <a href="{% url "ticket.detail" timerecord.ticket.pk %}">
                    {{ timerecord.ticket.number }}
                    <small>{{ timerecord.ticket.title }}</small>
                  </a>
                </td>
                <td>
                  {% include 'invoice/_timerecord.html' %}
                </td>
                <td>
                  {{ timerecord.date_started|date:"d/m/y" }}
                </td>
                <td>
                  {{ timerecord.start_time|time:"H:i" }}
                </td>
                <td>{{ timerecord.delta_as_string }}</td>
                <td>
                  {% if timerecord.invoice_line %}
                    <a href="{% url 'invoice.detail' timerecord.invoice_line.invoice.pk %}">
                      {{ timerecord.invoice_line.invoice.invoice_number }}
                    </a>
                  {% else %}
                    {% if timerecord.billable %}
                      <small>Pending</small>
                    {% else %}
                      <small>No-charge</small>
                    {% endif %}
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </div>
  {% if user.is_staff %}
    <div class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
        {% include 'base/_paginate.html' %}
      </ul>
    </div>
  {% endif %}
{% endblock content %}
