{% extends "invoice/base.html" %}

{% block sub_title %}
  Time Summary for {{ contact.full_name }}
{% endblock sub_title %}

{% block sub_heading %}
  Time Summary for {{ contact.full_name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th colspan="2">
              Ticket
            </th>
            <th align="right">
              <small>
                Non
              </small>
            </th>
            <th align="right">
              <small>
                Fix
              </small>
            </th>
            <th align="right">
              <small>
                Chg
              </small>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for row in object_list %}
            <tr valign="top">
              <td>
                {{ row.pk }}
              </td>
              <td>
                <a href="{% url 'ticket.detail' row.pk %}">
                  {{ row.description }}
                </a>
              </td>
              <td>
                {{ row.data.non_charge_fmt }}
              </td>
              <td>
                {{ row.data.fixed_fmt }}
              </td>
              <td>
                {{ row.data.charge_fmt }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
