{% extends 'invoice/base.html' %}

{% block sub_title %}
  Invoices
{% endblock sub_title %}

{% block sub_heading %}
  Invoices
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'project.dash' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          {% include 'base/_paginate_with_parameters.html' %}
          <li class="pure-menu-item">
            <a href="{% url 'invoice.list' %}" class="pure-menu-link">
              <i class="fa fa-times"></i>
              Clear Search
            </a>
          </li>
          {% if user.is_staff %}
            {% if not hide_outstanding_time %}
              <li class="pure-menu-item">
                <a href="{% url 'invoice.time.outstanding.list' %}" class="pure-menu-link">
                  <i class="fa fa-gbp"></i>
                  Outstanding
                </a>
              </li>
              <li class="pure-menu-item">
                <a href="{% url 'invoice.time.outstanding.bill.free.list' %}" class="pure-menu-link">
                  <i class="fa fa-gbp"></i>
                  Outstanding (FOC)
                </a>
              </li>
            {% endif %}
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <form action="." method="GET" class="pure-form">
        {% if form.non_field_errors %}
          {{ form.non_field_errors }}
        {% endif %}
        <fieldset>
          <div class="pure-g">
            {% for field in form.visible_fields %}
              <div class="pure-u-md-1-5">
                {% if inline_checkbox and field.field.widget.input_type %}
                  {% include '_form_field.html' with field=field field_type=field.field.widget.input_type %}
                {% else %}
                  {% include '_form_field.html' with field=field %}
                {% endif %}
              </div>
            {% endfor %}
            <div class="pure-u-md-1-5">
              <div class="pure-control-group">
                <button type="submit" class="pure-button pure-button-primary">Search...</button>
              </div>
            </div>
          </div>
        </fieldset>
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}
        {% if next %}
          <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
      </form>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% if invoice_list %}
        {% include 'invoice/_invoice_list.html' with show_contact=True %}
      {% else %}
        Sorry, there are no invoices on the system
      {% endif %}
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate_with_parameters.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}

{% block script_extra %}
  {{ block.super }}
  {% include 'base/_chosen.html' %}
{% endblock script_extra %}
