{% extends 'dash/base.html' %}
{% load humanize %}
{% load static %}

{% block sub_heading %}
  Invoice Issues
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'project.dash' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          {% include 'base/_paginate_with_parameters.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        {% include 'invoice/_invoice_issue_list.html' %}
      </table>
    </div>
  </div>
{% endblock content %}
