{% extends "invoice/base.html" %}

{% block sub_title %}
  Draft Disbursement Invoice
{% endblock sub_title %}

{% block sub_heading %}
  Edit line for invoice {{ invoiceline.invoice.invoice_number }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      {% include '_form.html' with legend='Draft Invoice' %}
    </div>
  </div>
{% endblock content %}
