{% extends "invoice/base.html" %}

{% block sub_title %}
  Draft Invoice (or Credit Note)
{% endblock sub_title %}

{% block sub_heading %}
  Update draft invoice (or credit note) for {{ invoice.contact.full_name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      {% include '_form.html' with legend='Draft Invoice (or Credit Note)' %}
    </div>
  </div>
{% endblock content %}
