{% extends "invoice/base.html" %}

{% block sub_title %}
  Invoice Issue {{ object.pk }}
{% endblock sub_title %}
{% block sub_heading %}
  Invoice issue {{ object.pk }}
{% endblock sub_heading %}

{% block content %}

  <div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
      <li class="pure-menu-item">
        {% if next %}
          <a href="{{ next }}" class="pure-menu-link">
            <i class="fa fa-reply"></i>
          </a>
        {% else %}
          <a href="{% url 'project.dash' %}" class="pure-menu-link">
            <i class="fa fa-reply"></i>
            Dashboard
          </a>
        {% endif %}
      </li>
    </ul>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <tbody>
          <tr valign="top">
            <td>
              <strong>
                Issue
              </strong>
            </td>
            <td>
              #{{ invoiceissue.pk }}
            </td>
          </tr>
          <tr valign="top">
            <td>
              <strong>
                {% if invoiceissue.invoice.is_credit %}
                  Credit Note
                {% else %}
                  Invoice
                {% endif %}
              </strong>
            </td>
            <td>
              <a href="{% url 'invoice.detail' invoiceissue.invoice.pk %}">
                {{ invoiceissue.invoice.invoice_number }}
              </a>
            </td>
          </tr>
          <tr valign="top">
            <td>
              <strong>
                {% if invoiceissue.invoice.is_credit %}
                  Credit Note
                {% else %}
                  Invoice
                {% endif %}
                Date
              </strong>
            </td>
            <td>
              {{ invoiceissue.invoice.invoice_date|date:'d/m/Y' }}
            </td>
          </tr>
          <tr valign="top">
            <td>
              <strong>
                Description
              </strong>
            </td>
            <td>
              {% include 'invoice/_invoice_issue_description.html' with issue=invoiceissue %}
            </td>
          </tr>
        </tbody>
      </table>
      {% include '_form.html' with inline_checkbox=True %}
    </div>
  </div>
{% endblock content %}
