{% extends "invoice/base.html" %}

{% block sub_title %}
  Draft Invoice
{% endblock sub_title %}

{% block sub_heading %}
  New line for draft invoice {{ invoice.invoice_number }}, {{ invoice.contact.full_name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      {% include '_form.html' with legend='Draft Invoice Line' %}
    </div>
  </div>
{% endblock content %}
