{% extends "invoice/base.html" %}

{% block sub_title %}
  Draft Invoice
{% endblock sub_title %}

{% block sub_heading %}
  Create draft invoice for {{ contact.full_name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      {% include '_form.html' with legend='Draft Invoice (no time records)' %}
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <strong>Note</strong>: this will create a simple draft invoice -
      <strong>time records cannot be added to this invoice</strong>.
    </div>
  </div>
{% endblock content %}
