{% extends 'dash/base.html' %}

{% block title %}
  Quick Time Recording
{% endblock title %}

{% block sub_heading %}
  Quick Time Recording
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            {% if user.is_staff %}
              <a href="{% url 'project.settings' %}" class="pure-menu-link">
                <i class="fa fa-reply"></i>
              </a>
            {% else %}
              <a href="{% url 'project.dash' %}" class="pure-menu-link">
                <i class="fa fa-reply"></i>
              </a>
            {% endif %}
          </li>
          <li class="pure-menu-item">
            <a href="{% url 'invoice.quick.time.record.create' %}" class="pure-menu-link">
              <i class="fa fa-clock-o"></i>
              Create
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>Name</th>
            <th>Chargeable</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for o in object_list %}
            <tr valign="top">
              <td>
                {% if o.deleted %}
                  <strike>
                    {{ o.description }}
                  </strike>
                {% else %}
                  <a href="{% url 'invoice.quick.time.record.update' o.pk %}">
                    <i class="fa fa-edit"></i>
                    {{ o.description }}
                  </a>
                {% endif %}
              </td>
              <td>
                {% if o.chargeable %}
                  <i class="fa fa-gbp"></i>
                  Yes
                {% else %}
                  <i class="fa fa-gift"></i>
                  No
                {% endif %}
              </td>
              <td>
                {% if not o.deleted %}
                  <a href="{% url 'invoice.quick.time.record.delete' o.pk %}">
                    <i class="fa fa-trash-o"></i>
                  </a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
