{% extends 'dash/base.html' %}
{% load humanize %}

{% block sub_title %}
  Reconcile Day View
{% endblock sub_title %}

{% block sub_heading %}
  Reconcile Day View for {{ batch_date|date:"l, jS F Y"}}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
      <a href="{% url 'invoice.reconcile.day' year=yesterday.year month=yesterday.month day=yesterday.day %}" class="pure-menu-link">
        <i class="fa fa-arrow-circle-left"></i>
        {{ yesterday|date:'d/m/Y' }}
      </a>
    </ul>
    <ul class="pure-menu-list">
      <a href="{% url 'project.dash' %}" class="pure-menu-link">
        <i class="fa fa-tachometer"></i>
        Dashboard
      </a>
    </ul>
    <ul class="pure-menu-list">
      <a href="{% url 'invoice.reconcile.day' year=tomorrow.year month=tomorrow.month day=tomorrow.day %}" class="pure-menu-link">
        {{ tomorrow|date:'d/m/Y' }}
        <i class="fa fa-arrow-circle-right"></i>
      </a>
    </ul>
  </div>
  {% if invoiceissue_list %}
    <div class="pure-g">
      <div class="pure-u-1">
        <table class="pure-table pure-table-bordered" width="100%">
          {% include 'invoice/_invoice_issue_list.html' %}
        </table>
      </div>
    </div>
  {% endif %}
  {% if batches %}
    <div class="pure-g">
      <div class="pure-u-1">
        <table width="100%" class="pure-table pure-table-bordered small-margin-top">
          <thead>
            <tr>
              <td colspan="3">Batches</td>
            </tr>
            <tr valign="top">
              <th>Number</th>
              <th>Currency</th>
              <th>Payment Processor</th>
            </tr>
          </thead>
          <tbody>
            {% for batch in batches %}
              <tr valign="top">
                <td>
                  <a href="{% url 'invoice.batch.invoice.list' batch.pk %}">
                    {{ batch.pk }}
                  </a>
                </td>
                <td>
                  {{ batch.currency.slug }}
                </td>
                <td>
                  {{ batch.payment_processor.description }}
                </td>
              </tr>
            {% endfor %}
            <tr>
              <td colspan="2">Total net</td>
              <td>&pound;{{ batch_net|intcomma }}</td>
            </tr>
            <tr>
              <td colspan="2">Total gross</td>
              <td>&pound;{{ batch_gross|intcomma }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}
  {% if invoices %}
    <div class="pure-g">
      <div class="pure-u-1">
        <table width="100%" class="pure-table pure-table-bordered small-margin-top">
          <thead>
            <tr>
              <td colspan="2">Unbatched Invoices</td>
            </tr>
            <tr valign="top">
              <th>Number</th>
              <th>Currency</th>
            </tr>
          </thead>
          <tbody>
            {% for invoice in invoices %}
              <tr valign="top">
                <td>
                  <a href="{% url 'invoice.detail' invoice.pk %}">
                    {{ invoice.invoice_number }}
                  </a>
                </td>
                <td>
                  {{ invoice.currency.slug }}
                </td>
              </tr>
            {% endfor %}
            <tr>
              <td>Total net</td>
              <td>&pound;{{invoice_net|intcomma}} </td>
            </tr>
            <tr>
              <td>Total gross</td>
              <td>&pound;{{invoice_gross|intcomma}} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}
  {% if credit_notes %}
    <div class="pure-g">
      <div class="pure-u-1">
        <table width="100%" class="pure-table pure-table-bordered small-margin-top">
          <thead>
            <tr>
              <td colspan="2">Credit Notes</td>
            </tr>
            <tr valign="top">
              <th>Number</th>
              <th>Currency</th>
            </tr>
          </thead>
          <tbody>
            {% for credit_note in credit_notes %}
              <tr valign="top">
                <td>
                  <a href="{% url 'invoice.detail' credit_note.pk %}">
                    {{ credit_note.invoice_number }}
                  </a>
                </td>
                <td>
                  {{ credit_note.currency.slug }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}
{% endblock content %}
