{% extends 'invoice/base.html' %}

{% block sub_title %}
  Your tickets for {{ report_date|date:'F Y' }}
{% endblock sub_title %}

{% block sub_heading %}
  Your tickets for {{ report_date|date:'F Y' }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
          {% include 'invoice/_menu_item_time_summary.html' %}
          <li class="pure-menu-item">
            <a href="{% url 'invoice.ticket.list.month' prev_month.year prev_month.month %}" class="pure-menu-link">
              <i class="fa fa-backward"></i>
              {{ prev_month|date:"M Y" }}
            </a>
          </li>
          {% if next_month %}
            <li class="pure-menu-item">
              <a href="{% url 'invoice.ticket.list.month' next_month.year next_month.month %}" class="pure-menu-link">
                <i class="fa fa-forward"></i>
                {{ next_month|date:"M Y" }}
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered">
        <thead>
          <tr>
            <th>Ticket</th>
            <th></th>
            <th></th>
            <th>Fix</th>
          </tr>
        </thead>
        <tbody>
          {% for ticket in ticket_list %}
            {% ifchanged %}
              <tr valign="top">
                <td colspan="4">
                  <strong>
                    {{ ticket.contact.full_name }}
                    <strong>
                    </td>
                  </tr>
            {% endifchanged %}
            <tr valign="top">
              <td>
                {{ ticket.pk }}
              </td>
              <td>
                <a href="{% url 'ticket.detail' ticket.pk %}">
                  {{ ticket.title }}
                </a>
              </td>
              <td>
                <a href="{% url 'crm.ticket.update' ticket.pk %}">
                  <i class="fa fa-edit"></i>
                </a>
              </td>
              <td>
                {% if ticket.fixed_price %}
                  <i class="fa fa-handshake-o"></i>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
          {% include 'invoice/_menu_item_time_summary.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
