{% extends "invoice/base.html" %}

{% block sub_title %}
  Time records for ticket {{ ticket.pk }}
{% endblock sub_title %}

{% block sub_heading %}
  Time records for ticket {{ ticket.pk }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'invoice/_menu_add_note_add_time.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <p>
        <a href="{% url 'ticket.detail' ticket.pk %}">
          <strong>{{ ticket.title }}</strong>
        </a>
        <a href="{% url 'contact.detail' ticket.contact.pk %}">
          {{ ticket.contact.full_name }}
        </a>
      </p>
      {% if timerecord_list %}
        <table class="pure-table pure-table-bordered" width="100%">
          <thead>
            <tr>
              <th>Time</th>
              <th>Date</th>
              <th>Start</th>
              <th>End</th>
              <th>Duration</th>
              <th>Bill</th>
            </tr>
          </thead>
          <tbody>
            {% for timerecord in timerecord_list %}
              <tr valign="top">
                <td>
                  {% include 'invoice/_timerecord.html' %}
                  {% if timerecord.time_code %}
                    <small>({{ timerecord.time_code.description }})</small>
                  {% endif %}
                </td>
                <td>
                  {{ timerecord.date_started|date:"d/m/y" }}
                </td>
                <td>
                  {{ timerecord.start_time|time:"H:i" }}
                </td>
                <td>
                  {% if timerecord.end_time %}
                    {{ timerecord.end_time|time:"H:i" }}
                  {% endif %}
                </td>
                <td>
                  {% if timerecord.end_time %}
                    <small>{{ timerecord.delta_as_string }}</small>
                  {% endif %}
                </td>
                <td>
                  {% if timerecord.invoice_line %}
                    <a href="{% url 'invoice.download' timerecord.invoice_line.invoice.pk %}">
                      {{ timerecord.invoice_line.invoice.invoice_number }}
                    </a>
                  {% else %}
                    {% if timerecord.billable %}
                      {% if timerecord.is_legacy_fixed_price %}
                        <i class="fa fa-handshake-o"></i>
                        <small>Fixed</small>
                      {% else %}
                        <i class="fa fa-gbp"></i>
                        <small>Pending</small>
                      {% endif %}
                    {% else %}
                      <i class="fa fa-gift"></i>
                      <small>No-charge</small>
                    {% endif %}
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>

        </table>
      {% endif %}
    </div>
    <div class="pure-u-1">
      <br>
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>Non-chargable</th>
            <th>Fixed</th>
            <th>Charge</th>
            <th>Total</th>
            <th>Invoiced</th>
            <th>Pending</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ ticket_totals.non_charge_fmt }}</td>
            <td>{{ ticket_totals.fixed_fmt }}</td>
            <td>{{ ticket_totals.charge_fmt }}</td>
            <td>{{ ticket_totals.total_fmt }}</td>
            <td>{{ ticket_totals.invoiced_fmt }}</td>
            <td>{{ ticket_totals.pending_fmt }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pure-u-1">
      <br>
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'invoice/_menu_add_note_add_time.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
