{% extends 'invoice/base.html' %}

{% block sub_title %}
  Time record for ticket {{ ticket.pk }}
{% endblock sub_title %}

{% block sub_heading %}
  Time record for
  {{ ticket.contact.full_name }}
  ticket {{ ticket.pk }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      {% if is_old_time_record %}
        <p class="message-error">
          <i class="fa fa-warning"></i>
          Warning: This time record was not started today.
        </p>
      {% endif %}
      {% include '_form.html' with legend=ticket.title %}
    </div>
  </div>
{% endblock content %}
