{% extends "invoice/base.html" %}

{% block sub_title %}
  Time Summary for {{ user_full_name }}
{% endblock sub_title %}

{% block sub_heading %}
  Time Summary for {{ user_full_name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% if user.is_staff %}
            {% include 'crm/_menu_time.html' %}
            <li class="pure-menu-item">
              <a href="{% url 'invoice.ticket.list.month' today.year today.month %}" class="pure-menu-link">
                <i class="fa fa-ticket"></i>
                Tickets This Month
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th colspan="2">
              Ticket
            </th>
            <th align="right">
              <small>
                Non
              </small>
            </th>
            <th align="right">
              <small>
                Fix
              </small>
            </th>
            <th align="right">
              <small>
                Chg
              </small>
            </th>
            <th>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for tr in running %}
            {% if forloop.first %}
              <tr valign="top">
                <td colspan="6">
                  <strong>
                    Open Time Records
                  </strong>
                </td>
              </tr>
            {% endif %}
            <tr valign="top">
              <td>
                {{ tr.ticket.pk }}
              </td>
              <td>
                {{ tr.ticket.contact.full_name }}:
                <a href="{% url 'ticket.detail' tr.ticket.pk %}">
                  {{ tr.ticket.title }}
                </a>
              </td>
              {% if tr.ticket.fixed_price %}
                <td>
                </td>
                <td align="right">
                  {{ tr.start_time|time:'H:i' }}
                </td>
                <td>
                </td>
              {% elif tr.billable %}
                <td>
                </td>
                <td>
                </td>
                <td align="right">
                  {{ tr.start_time|time:'H:i' }}
                </td>
              {% else %}
                <td align="right">
                  {{ tr.start_time|time:'H:i' }}
                </td>
                <td>
                </td>
                <td>
                </td>
              {% endif %}
              <td>
                <small>
                  <form action="." method="post" class="pure-form">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                      {{ form.non_field_errors }}
                    {% endif %}
                    <button type="submit" name="pk" value="{{ tr.pk }}" class="pure-button">
                      <i class="fa fa-stop"></i>
                      Stop
                    </button>
                  </form>
                </small>
                <small>
                  <a href="{% url 'invoice.time.update' tr.pk %}?next={{ request.path }}">
                    <i class="fa fa-edit"></i>
                    Edit
                  </a>
                </small>
              </td>
            </tr>
            {% if forloop.last %}
              <tr valign="top">
                <td colspan="6">
                  &nbsp;
                </td>
              </tr>
            {% endif %}
          {% endfor %}
          {% for d, summary in report.items %}
            <tr valign="top">
              <td colspan="6">
                <strong>
                  {{ d|date:'d/m/Y' }}
                </strong>
                <small>
                  {{ d|date:'l' }}
                </small>
              </td>
            </tr>
            {% for ticket in summary.tickets %}
              <tr valign="top">
                <td>
                  {{ ticket.pk }}
                </td>
                <td>
                  {{ ticket.contact }}:
                  <a href="{% url 'ticket.detail' ticket.pk %}">
                    {{ ticket.description }}
                  </a>
                </td>
                <td align="right">
                  {% if ticket.data.non_charge %}
                    {{ ticket.data.non_charge_fmt }}
                  {% endif %}
                </td>
                <td align="right">
                  {% if ticket.data.fixed %}
                    {{ ticket.data.fixed_fmt }}
                  {% endif %}
                </td>
                <td align="right">
                  {% if ticket.data.charge %}
                    {{ ticket.data.charge_fmt }}
                  {% endif %}
                </td>
                <td>
                  <small>
                    <a href="{% url 'invoice.time.ticket.list' ticket.pk %}">
                      <i class="fa fa-clock-o"></i>
                      View
                    </a>
                  </small>
                </td>
              </tr>
            {% endfor %}
            <tr valign="top">
              <td colspan="2">
              </td>
              <td>
                <strong>
                  {{ summary.totals.non_charge_fmt }}
                </strong>
              </td>
              <td>
                <strong>
                  {{ summary.totals.fixed_fmt }}
                </strong>
              </td>
              <td>
                <strong>
                  {{ summary.totals.charge_fmt }}
                </strong>
              </td>
              <td align="right">
                <small>
                  Total:&nbsp;{{ summary.totals.total_fmt }}
                </small>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
