{% extends 'invoice/base.html' %}

{% block sub_title %}
  Contacts with Unbilled Time
{% endblock sub_title %}

{% block sub_heading %}
  Contacts with Unbilled Time
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'invoice.list' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
              Invoices
            </a>
          </li>
          <li class="pure-menu-item">
            <a href="{% url 'invoice.time.outstanding.bill.free.list' %}" class="pure-menu-link">
              <i class="fa fa-gbp"></i>
              Outstanding (FOC)
            </a>
          </li>
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>Company</th>
            <th>Contact</th>
          </tr>
        </thead>
        <tbody>
          {% for contact in contact_list %}
            <tr valign="top">
              <td>
                <a href="{% url 'invoice.time.contact.outstanding.list' contact.pk %}?next={{ request.path }}">
                  {{ contact.full_name }}
                </a>
              </td>
              <td>
                <a href="{% url 'invoice.time.contact.outstanding.list' contact.pk %}?next={{ request.path }}">
                  {{ contact.user.get_full_name }}
                </a>
                <small>
                  ({{ contact.user.username }})
                </small>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}

