{% extends 'invoice/base.html' %}

{% block sub_title %}
  FOC Tickets with Unbilled Time (since {{ from_date|date:'d/m/Y H:i' }})
{% endblock sub_title %}

{% block sub_heading %}
  FOC Tickets with Unbilled Time (since {{ from_date|date:'d/m/Y H:i' }})
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'invoice.list' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
              Invoices
            </a>
          </li>
          <li class="pure-menu-item">
            <a href="{% url 'invoice.time.outstanding.list' %}" class="pure-menu-link">
              <i class="fa fa-gbp"></i>
              Outstanding
            </a>
          </li>
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>Ticket</th>
            <th>Description</th>
            <th>Company</th>
          </tr>
        </thead>
        <tbody>
          {% for ticket in ticket_list %}
            <tr valign="top">
              <td>
                <a href="{% url 'ticket.detail' ticket.pk %}?next={{ request.path }}">
                  {{ ticket.number }}
                </a>
              </td>
              <td>
                {{ ticket.title }}
              </td>
              <td>
                <a href="{% url 'invoice.time.contact.outstanding.list' ticket.contact.pk %}?next={{ request.path }}">
                  {{ ticket.contact.full_name }}
                </a>
                <small>
                  ({{ ticket.contact.user.username }})
                </small>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}

