{% extends "invoice/base.html" %}

{% block sub_title %}
  {% if 'user' in path %}My
  {% else %}All{% endif %}
  Time records
{% endblock sub_title %}

{% block sub_heading %}
  {% if 'user' in path %}My
  {% else %}All{% endif %}
  Time records
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
          <li class="pure-menu-item">
            <a href="{% url 'invoice.list' %}" class="pure-menu-link">
              <i class="fa fa-gbp"></i>
              Invoices
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% if timerecord_list %}
        <table class="pure-table pure-table-bordered">
          <thead>
            <tr>
              <th>Ticket</th>
              <th>Time</th>
              <th>Date</th>
              <th>Start</th>
              <th>End</th>
              <th>Duration</th>
              <th>Invoice</th>
            </tr>
          </thead>
          <tbody>
            {% for timerecord in timerecord_list %}
              <tr valign="top">
                <td>
                  {{ timerecord.ticket.contact.full_name }},
                  <a href="{% url 'ticket.detail' timerecord.ticket.pk %}">
                    {{ timerecord.ticket.pk }} - {{ timerecord.ticket.title }}
                  </a>
                </td>
                <td>
                  {% include 'invoice/_timerecord.html' %}
                  {% if timerecord.time_code %}
                    <small>({{ timerecord.time_code.description }})</small>
                  {% endif %}
                </td>
                <td>
                  {{ timerecord.date_started|date:"d/m/y" }}
                </td>
                <td>
                  {{ timerecord.start_time|time:"H:i" }}
                </td>
                <td>
                  {% if timerecord.end_time %}
                    {{ timerecord.end_time|time:"H:i" }}
                  {% endif %}
                </td>
                <td>
                  {% if timerecord.end_time %}
                    <small>{{ timerecord.delta_as_string }}</small>
                  {% endif %}
                </td>
                <td>
                  {% if timerecord.invoice_line %}
                    <a href="{% url 'invoice.detail' timerecord.invoice_line.invoice.pk %}">
                      {{ timerecord.invoice_line.invoice.invoice_number }}
                    </a>
                  {% else %}
                    {% if timerecord.billable %}
                      <i class="fa fa-gbp"></i>
                      <small>Pending</small>
                    {% else %}
                      <i class="fa fa-gift"></i>
                      <small>No-charge</small>
                    {% endif %}
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>
          No time records
        </p>
      {% endif %}
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
