{% extends "invoice/base.html" %}

{% block sub_title %}
  Invoice
{% endblock sub_title %}

{% block sub_heading %}
  {% if invoice.is_draft %}
    Draft
  {% endif %}
  {{ invoice.description }} {{ invoice.invoice_number }}
{% endblock sub_heading %}

{% block content %}
  {% include "invoice/_invoice_detail_menu.html" %}
  <div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
      <li class="pure-menu-item">
        <a href="{% url 'invoice.list' %}" class="pure-menu-link">
          <i class="fa fa-reply"></i>
          Invoices
        </a>
      </li>
    </ul>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <tbody>
          {% include "invoice/_invoice_detail_header.html" %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2">
      <div class="r-box">
        <table width="100%" class="pure-table pure-table-bordered small-margin-top">
          <tbody>
            {% include "invoice/_invoice_detail.html" %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% include "invoice/_invoice_detail_lines.html" %}
    </div>
  </div>
{% endblock content %}
