{% extends 'crm/base.html' %}
{% load mptt_tags %}

{% block sub_title %}
  Ticket {{ ticket.pk }}
{% endblock sub_title %}

{% block sub_heading %}
  Ticket {{ ticket.pk }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% if next %}
            <li class="pure-menu-item">
              <a href="{{ next }}" class="pure-menu-link">
                <i class="fa fa-reply"></i>
              </a>
            </li>
          {% endif %}
          {% include 'crm/_menu_ticket_detail.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table width="100%" class="pure-table pure-table-bordered">
        <tbody>
          {% include 'crm/_ticket_detail_contact_header.html' %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2">
      <div class="r-box">
        <table width="100%" class="pure-table pure-table-bordered small-margin-top">
          <tbody>
            {% include 'crm/_ticket_detail_header_left.html' %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
      <table width="100%" class="pure-table pure-table-bordered small-margin-top">
        <tbody>
          {% include 'crm/_ticket_detail_header_right.html' %}
        </tbody>
      </table>
    </div>
  </div>
  {% if ticket.description %}
    <div class="pure-g">
      <div class="pure-u-1">
        <table width="100%" class="pure-table pure-table-bordered small-margin-top">
          <tbody>
            {% include 'crm/_ticket_detail_description.html' %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}
  <div class="ts-box">
    <div class="pure-g">
      {% include 'crm/_ticket_detail_quick_time_buttons.html' %}
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure=table" width="100%">
        <tbody>
          {% include 'crm/_ticket_detail_journal.html' %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
          {% include 'crm/_menu_ticket_detail.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
