{% extends 'dash/base.html' %}

{% block sub_title %}
  Example Invoice App - Contact Detail
{% endblock sub_title %}

{% block sub_heading %}
  Example Invoice App - Contact Detail
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <h1>
        Example Invoice App - Contact Detail
        for {{ contact.full_name }}
      </h1>
    </div>
  </div>
{% endblock content %}
